# Build outputs
build/
build-wsl/
vcpkg_installed/
/compile_commands.json
*.exe
*.out
*.o
*.obj
*.a
*.dll
*.dll.a
*.lib
*.so
*.dylib

# IDE / tools
.vscode/*
!.vscode/settings.json

# clangd index cache
.cache/

# Misc
log/
Thumbs.db
.DS_Store
